<div class="flex h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <form class="bg-white shadow-md rounded px-6 pt-6 pb-6 mb-4">
      <div class="mb-4">
        <app-label description="E-mail" for="email" />
        <app-input name="email" type="email" placeholder="E-mail"/>
      </div>
      <div class="mb-4">
        <app-label description="Senha" for="password" />
        <app-input name="password" type="password" placeholder="Senha"/>
      </div>
      <div class="flex items-center justify-between">
        <app-button description="Entrar" />
        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" routerLink="/forgot-password">
          Recuperar Senha ?
        </a>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2023 uex-contacts. All rights reserved.
    </p>
  </div>
</div>
